

body {
  position: relative;
}  

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 65px;
  padding: 20px;
  width: 35.3vw;
  border-radius: 8px;
  border: 1px solid #818098;    
}

.form-label-group label {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  transition: all .1s ease-in-out;
  font-size: 14px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
.form {
  right: 0;
  position: absolute;
  background-color: #1C1C28;
  width: 48vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

  .logo-topSideBar {
    align-self: flex-start;
    margin-left: 75px;
    flex: 10%;
    display: flex;
    align-items: flex-end;
    
  }
  
  .wellcome-login {
    align-self: flex-start;
    margin-left: 80px;
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .wellcome-login p {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .wellcome-login .startForFree {
    font-size: 22px;
  }

  .wellcome-login .letsGo {
    font-size: 40px;
  } 

  .inputField {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;      
  }

  
  .loginButtons {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.submit-btn {
  background-color: #3E7BFA;
  width: 35.3vw;
  height: 65px;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 8px;;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid #4975CD;
  cursor: pointer;

}
.loginWithGoogleBtn {
background-color: #ffff;
width: 35.3vw;
height: 65px;
display: inline-block;
font-weight: bold;
line-height: 1.5;
color: #3E7BFA;
text-align: center;
text-decoration: none;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1.2rem;
border-radius: 8px;
cursor: pointer;

}

.signupInstead {
  flex: 10%;

}
.signupInstead p {
  color: #777777;
}
.signupInstead p .signUpLink{
  color: #3E7BFA;
  text-decoration: none;
}
.rightSide {
  position: absolute;
  left: 0;
  width: 52vw;
  height: 100vh;
  background-color: #3E7BFA;
}